[project]
name = "OneStopCoffea"
version = "0.1.0"
description = ""
readme = "README.md"
requires-python = ">=3.11"

dependencies = [
    "attrs>=25.4.0",
    "cattrs>=25.3.0",
    "coffea>=2025.11.0",
    "dask>=2025.3.0",
    "distributed>=2025.3.0",
    "mplhep>=0.4.1",
    "numpy>=2.3.4",
]

[dependency-groups]
dev = [
    "pydata-sphinx-theme>=0.15.4",
    "pytest>=9.0.1",
    "sphinx>=8.2.3",
]
